<% news = News.find(@post.postable_id) %>
<% image = Image.find(news.image_id) %>
<div class='user_id' style='display:none'>
    <% unless current_user.nil? %>
        <%= current_user.id %>
    <% end %>    
</div>

<figure> 
	<%= link_to image_tag(image.image.url(:thumb).to_s, 
    	:class => 'lazy',
    	:style => "display:table; margin:0 auto; height:#{image.medium_height}px;",
    	:data => {"original" => image.image.url(:medium).to_s}), 'javascript:void(0)' %>
</figure>
<%# if session[:admin] %>
	<%#= link_to "Edit content", post_news_content_edit_path(:post_id => @post.id), target: "_blank" %>
<%# end %>

<p><%= news.content.html_safe %></p>


