<section id="content">
    <div id="container" class="container">
        <h1 style="margin: 40px auto 20px auto; text-transform: uppercase; text-align: center;"> Team </h1>
        <ul class="movie_items" style="margin: 0px auto;">
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-ash3/18703_493550944017942_556425629_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Murali</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="/praveen.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Praveen</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src=""></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Rajiv</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src=""></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Sai Ram</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src=""></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Saravana</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/156773_303052409806170_929739650_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Siva Mani</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="/syed.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Syed Ali</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash4/483837_10151407048084662_1591417383_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Tharaka Ramu</p>
                    </a>
                </div>
            </li>
        </ul>

        <h1 style="margin: 40px auto 20px auto; text-transform: uppercase; text-align: center;"> Credits </h1>
        
        <ul class="movie_items" style="margin: 0px auto;">
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="/default.png"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Divya</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src=" https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-frc3/988275_705970396083542_306893385_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Fayaz</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-ash3/942920_10151694925945412_16308565_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Jyoshna</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-e-a.akamaihd.net/hphotos-ak-frc3/972017_387250828053407_1212852065_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Nagarjuna</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash4/385901_10150390791642641_1261265047_n.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Naresh</p>
                    </a>
                </div>
            </li>
            
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash4/469379_106140569523123_247535038_o.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Pavan kumar</p>
                    </a>
                </div>
            </li>
            <li class = "movie-box box">
                <a class="overlay animation_class" href="javascript:void(0);"></a>
                <a href="javascript:void(0)"><img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-frc1/884543_10200677570958731_212204418_o.jpg"></a>
                <div class="movie_desc animation_class">
                    <p class="movie">Rahul</p>
                    </a>
                </div>
            </li>
        </ul>
    </div>
</section>


<div class="pageless-navigation">
</div>
