<div id="artist_selection-panel" class="artist_selection">
    <div class="createpop_outer">
        <a class="close_popup" href="javascript:void(0);"></a>
        <div class="create_wrapper">
            <nav class="navigation">
                <ul class="choice_bc_artist">
                    <li>
                        <a href="javascript:void(0);">
                            <span class="center"><b class="home_btn"></b></span>
                            <span class="shape-R"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="bc_artist" data-value="create-artist">
                            <span class="shape-L"></span>
                            <span class="center">Artist</span>
                            <span class="shape-R"></span>
                        </a>
                    </li>
                    <li class="active">
                        <a href="javascript:;">
                            <span class="shape-L"></span>
                            <span class="center" id="artist-name-bc">Artist Name</span>
                            <span class="shape-R"></span>
                        </a>
                    </li>
                </ul>
            </nav>
            <p class="desc_text">Select which one you want to post</p>
            <ul class="choice_small">
                <li>
                    <a href="javascript:void(0);" class="news" data-value="news">
                        <span class="news_icn"></span>
                        <p class="title">News</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="pict" data-value="image">
                        <span class="pict_icn"></span>
                        <p class="title">Picture</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="alb" data-value="album">
                        <span class="alb_icn"></span>
                        <p class="title">Album</p>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="vid" data-value="video">
                        <span class="vid_icn"></span>
                        <p class="title">Video</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>