<div class="create_home">
	<div class="createpop_outer">
		<a class="close_popup" href="javascript:void(0);"></a>
		<div class="create_wrapper">
			<p class="head_text">Be a super fan of</p>
			<h4>post the things you like, get the claps from the<br> 
			people and become popular in the fans world...</h4>
			<div class="float_L">
			    <ul class="choice">
			    	<li>
				        <a href="create_select_type.html" class="movie">
				        	<span class="movie_icn"></span>
				        	<p class="title">Movie</p>
				        </a>
			        </li>
			        <li>
			        <a href="create_select_artist.html" class="artist">
			        	<span class="artist_icn"></span>
			        	<p class="title">Artist</p></a>
			        </li>
			    </ul>
			</div>
			<div class="float_L input_area">
				<div class="search_fld float_L">
					<input type="text" class="common_inpt" value="Enter the Movie Name"/>
					<a href="#" class="search_icn"></a>
					<ul class="drop_down">
						<li>
							<img src="images/actor1.png" width="40" height="40">
							<span><b>Gabbar Singh</b><br>2013</span>
						</li>
						<li>
							<img src="images/actor1.png" width="40" height="40">
							<span><b>Gabbar Singh</b><br>2013</span>
						</li>
						<li>
							<img src="images/actor1.png" width="40" height="40">
							<span><b>Gabbar Singh</b><br>2013</span>
						</li>
					</ul>
				</div>
				<a class="cant_find" href="#">Cant find the movie?</a>
				<a class="add_item" href="#"><span></span>Add new Movie</a>
			</div>
		</div>
	</div>
</div>
