<% if session[:admin] %>
	<div class="post-artist-mention" style="display:none;">
	    <div align="center">
	        <input type="hidden" class="bigdrop" id="mention_movie_select_dropdown_dup" style="width:600px;" />
	        <input type="hidden" class="bigdrop" id="mention_artist_select_dropdown_dup" style="width:600px;" />
	    </div>
	</div>
<% end %>