<nav class="navigation">
    <ul>
        <li>
            <a href="javascript:void(0)">
                <span class="center"><b class="home_btn"></b></span>
                <span class="shape-R"></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span class="shape-L"></span>
                <span class="center">Movie</span>
                <span class="shape-R"></span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)">
                <span class="shape-L"></span>
                <span class="center">Movie Name</span>
                <span class="shape-R"></span>
            </a>
        </li>
        <li class="active">
            <a href="javascript:void(0)">
                <span class="shape-L"></span>
                <span class="center">News</span>
                <span class="shape-R"></span>
            </a>
        </li>
    </ul>
</nav>