<section id="content">
    <div id="shop-container" class="container transitions-enabled clearfix" style="margin: 0 auto;">
        <ul class="artists_items" style="margin: 0 auto;">
            <% @images.reverse.each do |image| %>
                <li class="shop-box" style="height: <%= image.medium_height %>px;" data-id = "<%= image.id %>">
                    <%= link_to image_tag(asset_path("lazy_img_load.gif"),
                    :class => 'lazy',
                    :style => "height: #{image.thumb_height}px;",
                    :data => {"original" => image.image.url(:thumb).to_s}), 'javascript:void(0);' %>
                </li> 
            <% end %>
        </ul>
    </div>
</section>