<section id="content">
    <div id="container" class="transitions-enabled clearfix" style="margin: 0 auto;">
        <div class='user_id' style='display:none'>
            <% unless current_user.nil? %>
                <%= current_user.id %>
            <% end %>    
        </div>
        <% @post.each do |post| %>
            <% begin %>
                <%= render :partial => 'posts/post', :locals => {:post => post} %>
            <% rescue %>
            <% end %>
        <% end %>
        <button id="ScrollToTop" class="Button WhiteButton Indicator" type="button">
            Scroll to Top
        </button>
    </div>
</section>

<section class="show_popup" style ="display:none">
</section>

<div class="pageless-navigation">
    <a href="/posts/artists?page=2" />
</div>
