<% unless current_user.nil? %>
	<div id="popup-pageload-artists">
        <div style="text-align: center;">
            <div><h1>Recommended Artists you may Follow</h1></div>
            <% @artists.each do |artist| %>
                <ul>
                    <li>
                        <button data-artist-id='<%= artist.id %>' class="artist_name_select" type="button">
                            <%= artist.name %>
                        </button>
                    </li>
                </ul>
            <% end %>
            <br>
            <p class="artists_selection_done btn btn-primary btn-large">Follow</p>
        </div>
    </div>
<% end %>


<script type="text/javascript">

    $(document).ready(function() {

        $("button.artist_name_select").click(function() {
            $(this).addClass("selected");
            $(this).toggleClass('color-change');
        });

        var artist_ids = new Array();

        // artists selection done
        $(".artists_selection_done").click(function() {
            var user_id = parseInt($('.user_id').html());
            var arr = $("button.selected").map(function(){return $(this).attr("data-artist-id");}).get();
            for (i = 0; i < arr.length; i++) {
                temp = parseInt(arr[i]);
                artist_ids[i] = temp;
            }
            console.log(artist_ids);
            $.ajax({
                type : 'POST',
                url: '/artists/preferences_of_artists',
                data : { artist_ids : artist_ids , user_id : user_id},
                success: function() {
                    window.location.href = '/'; 
                }
            });
        });

        $('input[type="button"]').click(function(){
            if(!$(this).hasClass('red'))
                  $(this).addClass('red');
        });
    });

</script>
