<br><br><div style="text-align:center">
	<input type="text" id="news_edit" class = "cmn_txtarea_edit" value="<%= @news.content %>"></input>
</div>
<button class="sub_btn clear" id="news_edit_submit" data-id="<%= @news.id %>" 
	data-show-path="<%= @post.es_show_path %>">
	Done!</button>