<div class="widget_container">
    <a href="#" class="widget_close_icon"></a>
    <h1>Welcome to the social movie network</h1>
    <a href="<%=user_omniauth_authorize_path(:facebook)%>" class="widg_fb_icon"></a>
</div>

