@font-face {
	font-family: raavi;
	src: url("raavi.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: raavib;
	src: url("raavib.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
