<% image = Image.find(post.postable_id) %>
<p class="image-area" 
	rel='group' title = '<%= post.title %>'
	style="height: <%= image.thumb_height %>px;"
	id="post-<%= post.id %>">
    <%= link_to image_tag(asset_path("lazy_img_load.gif"),
    	:class => 'lazy',
    	:data => {"original" => image.image.url(:thumb).to_s}), post_path(post) %>
</p>
