<script type="text/javascript">
  $('document').ready(function(){
      $('#new_image').fileupload({
          dataType: 'json'
      });

  });

</script>

<h1>New Image</h1>

<%= form_for [@post, Image.new] do |f| %>
    <% if @image.errors.any? %>
        <div class="error_messages">
          <h2>Please correct the following errors.</h2>
          <ul>
            <% @image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.file_field :image, :multiple => true, :name => 'picture[image]'  %>
    </div>
    <div class="actions">
      <%= f.submit 'Upload Image'%>
    </div>
<% end %>